{% extends 'dashboard.html.twig' %}


{% block body %}

    <h1>Car creation</h1>
    <form class="form-horizontal" name="carrentalbundle_car" method="POST" enctype="multipart/form-data">

        <div class="form-group">
            <label class="col-sm-4 control-label" for="carrentalbundle_car_carBrand">Car Brand</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="carrentalbundle_car_carBrand"
                       name="carrentalbundle_car[carBrand]" required="required" maxlength="255">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="carrentalbundle_car_carModel">Car Model</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="carrentalbundle_car_carModel"
                       name="carrentalbundle_car[carModel]" required="required" maxlength="255">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="carrentalbundle_car_year">Year of manufacturing</label>
            <div class="col-sm-10">
                <input class="form-control" type="number" id="carrentalbundle_car_year"
                       name="carrentalbundle_car[year]" required="required" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="carrentalbundle_car_capacity">Car Capacity</label>
            <div class="col-sm-10">
                <input class="form-control" type="number" id="carrentalbundle_car_capacity"
                       name="carrentalbundle_car[capacity]" required="required" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="carrentalbundle_car_doors">Car Doors</label>
            <div class="col-sm-10">
                <input class="form-control" type="number" id="carrentalbundle_car_doors"
                       name="carrentalbundle_car[doors]" required="required" >
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="carrentalbundle_car_engine">Car Engine</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="carrentalbundle_car_engine"
                       name="carrentalbundle_car[engine]" required="required" maxlength="255">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="carrentalbundle_car_gearbox">Car Gearbox</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="carrentalbundle_car_gearbox"
                       name="carrentalbundle_car[gearbox]" required="required" maxlength="255">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="carrentalbundle_car_status">Status</label>
            <div class="col-sm-10">
                <input class="form-check" type="checkbox" id="carrentalbundle_car_status" name="carrentalbundle_car[status]" value="1">
            </div>
        </div>

        {{ form_row(form.createdAt) }}
        {{ form_row(form.updatedAt) }}
        <div class="form-group">
            <label class="col-sm-4 control-label" for="carrentalbundle_car_image">Image</label>
            <div class="col-sm-10">
                <input class="form-control" type="file" id="carrentalbundle_car_image"
                       name="carrentalbundle_car[image]" required="required" maxlength="255">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label" for="carrentalbundle_car_price">Car Price</label>
            <div class="col-sm-10">
                <input class="form-control" type="number" id="carrentalbundle_car_price"
                       name="carrentalbundle_car[price]" required="required" maxlength="255">
            </div>
        </div>
        {{ form_row(form._token) }}
        <input class="btn btn-primary" type="submit" value="Create"/>

        <a class="btn btn-primary float-right" href="{{ path('car_index') }}">Back to the list</a>

    </form>

{% endblock %}